* {
    margin: 0;
    padding: 0;
}



.header {
    background-color: rgba(0, 0, 0, 0.788);
    height: 85px;
    z-index: 1;
    width: 100%;
position: absolute;
}

nav {
    display: flex;

}

h1,h2 {
    width: 50%;
}

.h1_input {
    display: flex;
    position: relative;
    left: 270px;
}

.h1_input h1 {
    color: white;
    font-size: 46.1px;
    margin: 8px 10px;
    font-weight: 200;
}

.h1_input input {
    height: 30px;
    width: 240px;
    border-radius: 20px;
    border-style: none;
    font-size: 17px;
    padding: 0px 10px;
    background-color: #ffffff9c;
    color: white;
    margin: 0px 0px 0px 30px;
    position: relative;
    top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

ul li {
    font-size: 24px;
    position: relative;
    left: 820px;
    top: 25px;
    height: 10px;
}

.Wellpaper {
    background-image: url('About-us_wellpaper.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.BlackWellpaper {
    background-color: black;
    position: absolute;
    width: 1362px;
    height: 1009px;
    border-radius: 20px;
    opacity: 60%;
    left: 279px;
    top: 120px;
    z-index: 1;
}

.Right-wellpaper {
    left: 279px;
    background-color: rgba(255, 255, 255, 0.897);
    position: absolute;
    width: 300px;
    height: 1000px;
    top: 120px;
z-index: 4;
border-radius: 20px 0 0px 20px;
}

.BlackOut {
    position: absolute;
            top: 90px;
            width: 30px;
            height: 30px;
            background: #000000;
top: 145px;
left: 75px;
border-radius: 50%;
}

.BlackOut2 {
    position: absolute;
            top: 90px;
            width: 30px;
            height: 30px;
            background: #000000;
top: 145px;
left: 170px;
border-radius: 50%;
}

.eye {
    content: "";
            position: absolute;
            top: 153px;
            left: 83px;
            width: 15px;
            height: 15px;
            background: radial-gradient(circle, #ffffff 100%, #555 100%);
            border-radius: 50%;
            animation: blink 5s infinite;

        }

        .position {
            
        }

        @keyframes blink {
            0%, 90%, 100% {
                height: 15px;
            }
            95% {
                height: 3px;
            }
        }

        